<!-- app/views/contact_mailer/send_contact_email.html.erb -->
<p><strong>Nom:</strong> <%= @nom %></p>
<p><strong>Email:</strong> <%= @user_email %></p>
<p><strong>Message:</strong> <%= @message %></p>
